body {
    background-color:#160340;
}

#container {
    background-color: #C9B6F2;
    width: 950px;
    margin: 20px auto;
    border: 4px solid #73034C;
    padding: 20px;
    border-radius: 20px;
}

p {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
    word-break: normal;
}
header{
    text-align: center;
    padding: 50px;
}

header h1 {
    color: #73034C;
    font-size: 30px;
}

nav {
    text-align: center;
    border-top: 4px solid #73034C;
    border-bottom: 4px solid #73034C;
    padding: 20px 0;
}

nav a {
    color: #73034C;
    font: size 30px;
    margin: 0 20px;
}

nav a:hover {
    color: #160340;
    text-decoration: none;
}

main {
    margin: 20px auto;
    border: 4px solid #73034C;
    padding: 20px;
    border-radius: 20px;
}

main h2 {
    color:#73034C;
    text-align: center;
}

main img {
    display: block;
    margin: 20px auto;
    width: 600px;
    border-radius: 20px;
}

main h3 {
    color:#73034C;
    text-align: center;
}

main h4 {
    color:#73034C;
    text-align: center;
}

footer {
    padding: 40px 0;
    text-align: center;
     border-top: 4px solid #73034C;
}